$color-body:#c3cfe2;
$color-card:#fff;
$color-cardfooter:#686de0;
$color-avatar-border:#fff;
$color-title:#fff;
$color-subtitle:#999beb;
$color-boxshadow:rgba(67, 65, 65, 0.5);
$color-overlay:#313132;
$color-blog:#e17b77;
$color-twitter:#00aced;
$color-linkedin:#007bb6;
$color-facebook:#3b5998;
$color-github:#333;
$color-social-url:#fff;