@charset "UTF-8";
*, *::before, *, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  height: 100vh;
  background-color: #c3cfe2;
}

header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
}

.container__testimonial {
  position: relative;
  width: 43rem;
  height: 56rem;
  border-radius: 2rem;
  overflow: hidden;
}
.container__testimonial--basiscard {
  margin: 10rem auto 6rem;
}

.card {
  font-family: Arial, sans-serif;
  width: 43rem;
  height: 56rem;
  border-radius: 2rem;
  background: #fff;
  box-shadow: 1.2rem 1.5rem 1.5rem -0.8rem rgba(67, 65, 65, 0.5);
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto auto;
  position: relative;
}
.card__header {
  border-radius: 2rem 2rem 0 0;
  padding: 5rem 4rem 0;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.8em;
}
.card__avatar {
  width: 13rem;
  border: 0.6rem solid #fff;
  border-radius: 50rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 31rem;
}
.card__footer {
  border-radius: 0 0 2rem 2rem;
  background-color: #686de0;
  grid-row: 3/-1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card__footer--title {
  margin: 3rem 0 1rem;
  color: #fff;
  text-transform: uppercase;
  font-weight: 100;
  letter-spacing: 0.1em;
}
.card__footer--subtitle {
  font-size: 1.8rem;
  font-weight: 200;
  color: #999beb;
}

.portofolio_grid {
  width: 100%;
  margin: 10rem 0;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 2rem;
  justify-content: center;
}

.card__overlay {
  width: 43rem;
  height: 56rem;
  background-color: #313132;
  border-radius: 2rem;
  position: absolute;
  left: 0;
  opacity: 0;
  transition: opacity 600ms ease;
}
.card__overlay:hover {
  opacity: 1;
  transition: opacity 50ms ease;
}
.card__zoom {
  transition: transform 200ms ease-out;
}
.card__zoom:hover {
  transform: scale(1.05);
}
.card button {
  padding: 1rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.socialmedia-container {
  width: 100%;
  height: 500px;
  position: relative;
  overflow: hidden;
}

.social-media {
  position: absolute;
  right: 0;
  top: 5rem;
}
.social-media ul {
  position: relative;
  list-style: none;
  width: 30rem;
  color: white;
  font-size: 2rem;
}
.social-media li {
  text-align: left;
  width: 37rem;
  height: 7rem;
  padding-top: 2.5rem;
  padding-left: 3rem;
  position: absolute;
  right: -30rem;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
}
.social-media li:hover {
  right: 0rem;
}
.social-media li:first-child {
  background-color: #e17b77;
}
.social-media li:nth-child(2) {
  background-color: #00aced;
  top: 7rem;
}
.social-media li:nth-child(3) {
  background-color: #007bb6;
  top: 14rem;
}
.social-media li:nth-child(4) {
  background-color: #3b5998;
  top: 21rem;
}
.social-media li:nth-child(5) {
  background-color: #333;
  top: 28rem;
}
.social-media__icon::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}
.social-media__blog::before {
  font-family: "Font Awesome 5 free";
  font-weight: 900;
  content: "";
}
.social-media__facebook::before {
  font-family: "Font Awesome 5 Brands";
  content: "";
}
.social-media__linkedin::before {
  font-family: "Font Awesome 5 Brands";
  content: "";
}
.social-media__twitter::before {
  font-family: "Font Awesome 5 Brands";
  content: "";
}
.social-media__github::before {
  font-family: "Font Awesome 5 Brands";
  content: "";
}
.social-media__blogtext {
  margin-left: 4rem;
}

@media (max-width: 1350px) {
  .portofolio_grid {
    grid-template-columns: auto auto;
  }
}
@media (max-width: 991.98px) {
  .portofolio_grid {
    grid-template-columns: auto;
  }
}/*# sourceMappingURL=style.css.map */